Source: blueman
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Christopher Schramm <debian@shakaweb.org>
Homepage: https://launchpad.net/blueman
Standards-Version: 3.9.5
X-Python-Version: >= 2.5
Build-Depends: debhelper (>= 7), autotools-dev, cdbs, libglib2.0-dev, libtool,
               libgtk2.0-dev (>= 2.16), libstartup-notification0-dev,
               python-gi-dev, libbluetooth-dev (>= 4.0), intltool,
               python-dev (>= 2.6.6-3~), python-pyrex, python-gtk2-dev,
               python-notify, python-dbus, dh-autoreconf

Package: blueman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, dbus,
         bluez (>= 4.61), obex-data-server (>= 0.4.3), python-gtk2 (>= 2.12),
         python-dbus, python-gi, python-notify, notification-daemon,
         librsvg2-common, gnome-icon-theme, libpulse-mainloop-glib0
Recommends: python-gconf, policykit-1
Description: Graphical bluetooth manager
 Blueman is a GTK+ bluetooth management utility for GNOME using bluez D-Bus
 backend.
 .
